<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index-ciclo.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index-ciclo.js" defer type="module"></script>
  </head>
  <body id="page-index">

    <%- include('parts/index-header', {
      button_text:'Adicionar Novo Ciclo',
      button_link:'../ciclo'
      }) %>

    <div class="container">
      <main class="animate-up delay-2">
        <h1 class="sr-only">Ciclos</h1>

        <div class="cards">

          <%  let i = 0
              ciclos.forEach((ciclo) => {
              i += 1  %>

            <div class="card <%= ciclo.status %> " data-id="<%= ciclo.id %> ">
              <div class="id column"><%= i %> </div>
              <div class="name column">
                <%= ciclo.nome %>
              </div>
              <div class="status badge column">
                <p>
                <%
                    if (ciclo.ofertaInicio) { %>de <%=
                      ciclo.ofertaInicio.toISOString().substr(8,2)%>/<%=
                      ciclo.ofertaInicio.toISOString().substr(5,2)%>/<%=
                      ciclo.ofertaInicio.toISOString().substr(0,4)%> <%=
                      ciclo.ofertaInicio.toISOString().substr(11,5)%>
                    <% } %>
                <%
                    if (ciclo.retiradaConsumidorFim) { %>a&nbsp;<%=
                      ciclo.retiradaConsumidorFim.toISOString().substr(8,2)%>/<%=
                      ciclo.retiradaConsumidorFim.toISOString().substr(5,2)%>/<%=
                      ciclo.retiradaConsumidorFim.toISOString().substr(0,4)%> <%=
                      ciclo.retiradaConsumidorFim.toISOString().substr(11,5)%>
                      <% } %></p>
              </div>

              <div class="actions column flex">
                <p class="sr-only">Ações</p>
                <a
                  href="/ciclo/<%= ciclo.id %> "
                  class="button white edit"
                  title="Editar Ciclo">
                  <img src="/images/edit-24.svg" alt="Editar Ciclo" />
                </a>
                <!--<button class="delete button white" title="Excluir Ciclo">
                  <img src="/images/trash-24.svg" alt="Excluir Ciclo" />
                </button>-->
                <a
                  href="/oferta/<%= ciclo.id %>"
                  class="button white edit cicloicones"
                  title="Inserir Ofertas">
                  <img src="/images/oferta.svg" alt="Inserir Ofertas" />
                </a>
                <a
                  href="/composicao/<%= ciclo.id %>"
                  class="button white edit cicloicones"
                  title="Composição Cestas">
                  <img src="/images/composicao.svg" alt="Composição Cestas" />
                </a>
                <a
                  href="/pedidosfornecedoressobra/<%= ciclo.id %>"
                  class="button white edit cicloicones"
                  title="Relatório Produtos Ofertados e Sobras">
                  <img src="/images/produto.svg" alt="Relatório Produtos Ofertados e Sobras" />
                </a>
                <a
                  href="/composicao/<%= ciclo.id %>?cst=<%= ciclo.cicloCestaOfertas_1 %>"
                  class="button white edit cicloicones"
                  title="Lista de Ofertas Extras">
                  <img src="/images/ofertasPE.png" alt="Lista de Ofertas Extras" />
                </a>
                <a
                  href="/pedidoConsumidores/<%= ciclo.id %>"
                  class="button white edit cicloicones"
                  title="Formulário Pedidos Consumidores">
                  <img src="/images/pedidoConsumidores.svg" alt="Formulário Pedidos Consumidores" />
                </a>
                <a
                  href="/composicao/<%= ciclo.id %>?cst=<%= ciclo.cicloCestaPedidosExtras_5 %>"
                  class="button white edit cicloicones"
                  title="Composição Pedidos Extras">
                  <img src="/images/composicaoPE.png" alt="Composição Pedidos Extras" />
                </a>
                <a
                  href="/pedidosfornecedorestodos/<%= ciclo.id %>"
                  class="button white edit cicloicones"
                  title="Relatório Pedidos Fornecedores">
                  <img src="/images/entrega.svg" alt="Relatorio Fornecedores" />
                </a>
                <a
                  href="/pedidosconsumidorestodos/<%= ciclo.id %>?view=all_t"
                  class="button white edit cicloicones"
                  title="Relatório Pedidos Consumidores">
                  <img src="/images/pontoentrega.svg" alt="Relatorio Consumidores" />
                </a>
              </div>
            </div>
            <!-- end card -->

          <% }) %>
        </div>

        <% if (nextCursor) { %>
        <div class="pagination">
          <a
            href="/ciclo-index?limit=<%= limit %>&cursor=<%= nextCursor %>"
            class="button"
            >Carregar Mais</a
          >
        </div>
        <% } %>
      </main>
    </div>
    <!-- end container -->

    <div class="modal-wrapper">
      <div class="modal">
        <img src="/images/trash-48.svg" alt="Excluir Ciclo" title="Excluir Ciclo" />
        <h3>Excluir Ciclo</h3>
        <p>Quer mesmo excluir esse ciclo? <br/>
        Ele será apagado para sempre.
        <p>
        <footer>
          <a
            class="button gray"
            href="#">Cancelar</a>
          <button
            class="button red"
            type="submit"
            form="delete-ciclo">Excluir Ciclo</button>
        </footer>
      </div>
      <form
        method="post"
        action="/ciclo/delete/"
        id="delete-ciclo"></form>
    </div>
    <!-- end modal-wrapper -->
  </body>
</html>
